<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Mine.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomWidth" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CustomHeight" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CustomMines" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HighScoreBegginer" serializeAs="String">
                <value>9999990</value>
            </setting>
            <setting name="HighScoreIntermediate" serializeAs="String">
                <value>9999990</value>
            </setting>
            <setting name="HighScoreExpert" serializeAs="String">
                <value>9999990</value>
            </setting>
            <setting name="AllowMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighScoreBegginerName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="HighScoreIntermediateName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="HighScoreExpertName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstClickType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Show4DigitsNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowRestartGameHighScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeStartFromZero" serializeAs="String">
                <value>False</value>
            </setting>
        </Mine.Properties.Settings>
    </userSettings>
</configuration>